/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/


/* Desktop */

header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#mainBody {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  gap: 100px;
}

#leftContainer, #rightContainer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

#rightContainer {
    display: grid;
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}

/* Tablet */

@media (max-width: 100px) {
    body {
        width: 60%;
        margin: 0 auto;
    }
}

#mainBody {
    flex-direction: column;
    gap: 40px;
}

#rightContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 160px);
}

.display_md {
    display: none;
}
