/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/


/* Desktop */

header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

