/*
Implement your CSS code in this file. Do not change anything in any other file.
Only this will be graded.
*/


/* Desktop */

body {
  width: 80%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

#mainBody {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 50px;
}

#leftContainer,
#rightContainer {
  flex: 1;
}

#rightContainer {
  display: grid;
  grid-template-rows: repeat(3, 160px);
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "large one two"
    "large three four"
    "large five six";
}


/* grid areas */
.gridImage.zero.gridImage.zero.display_md  { grid-area: large; }
.gridImage.one   { grid-area: one; }
.gridImage.two   { grid-area: two; }
.gridImage.three { grid-area: three; }
.gridImage.four  { grid-area: four; }
.gridImage.five  { grid-area: five; }
.gridImage.six   { grid-area: six; }

